body {
	margin: 0px;
}

#header {
	width: 1022px;
	margin-left:auto;
	margin-right: auto;
}
#header ul
{
list-style-type:none;
margin:0;
padding:0;
	padding-top: 59px;
}
	
#header li
{
	display: inline;
}
#headerMenu {
	float:right;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	color: #939598;
}
#headerMenu a{
	text-decoration: none;
	color: #939598;
	margin-left: 15px;
	margin-right: 15px;
}

#headerMenu .active{
	color: #7b9d3e;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
   *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML += '<div class="ie7-clear"></div>' );
}

.ie7-clear {
    display: block;
    clear: both;
}


#logo {
	margin-top: 35px;
	margin-bottom: 40px;
	float:left;
}

#frontfeatureOutter {
	background-image: url('images/featurebg.png');
	height: 398px;
	width: 100%;
}

#frontfeature{
	width: 1022px;
	margin-left:auto;
	margin-right: auto;
}

.greyblock {
	background-image: url('images/greybg.png');
	height: 204px;
	width: 100%;
}
.freetrialOutter {
	background-image: url('images/freetrialbg.png');
	height: 323px;
	width: 100%;
}
.freetrial {
	background-image: url('images/freetrial.png');
	height: 323px;
	width: 1205px;
}
.whiteblock {
	height: 304px;
	width: 100%;
}

#frontMain {
width: 100%;
height: 536px;
}
#frontMain img{
margin-left: auto;
margin-right: auto;
}

